.parte1{
    background-color: blue;
    width: 100%;
    height: 210px;
    float: left;
}
.parte2{
    background-color: rgb(0, 255, 0);
    width: 1100px;
    height:200px;
    float: right;
}
.parte3{
    background-color: rgb(255, 8, 0);
    width: 200px;
    height: 500px;
    float: left;
}
.parte4{
    background-color: rgb(217, 255, 0);
    width: 1100px;
    height: 200px;
    float: right;
    
}
