 #top {
     background-image: url("Como-reduzir-a-desigualdade-no-mundo.webp");
     height: 600px;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     
 }
 .header img {
     display: flex;
     align-items: left;
     justify-content: left;
 }

 .header {
     background-color: rgb(187, 145, 90,);
     opacity: .6;
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: center;
    
 }

 .header h1 {
     width: 70%;
     text-decoration-color: #0e0d0d;

 }

 .divbtn {
     display: flex;
     align-items: center;
     justify-content: end;
     gap: 8px;
 }

 .linkonu {
     text-decoration: none;
     color: black;
     border-radius: 24px;
     background-color: white;
     padding: 6px;
 }

 main {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 h1 {
     text-align: center;
     color: rgb(255, 255, 255);
     font-size: 55px;
     margin: 0;

 }

 h3 {
     text-align: left;
     color: rgba(0, 0, 0, 0.884);
     font-size: 30px;
     text-decoration: underline;

 }

 .foto2 {
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .grafigo {
     height: 900px;
     width: 100%;

 }

 body {
     margin: 0;
     padding: 0;
     background-color: rgb(197, 170, 134) !important;
     font-family:serif!important;
 }

 .paragrafo {
     border-radius: 12px;
     margin: 20px;
     background-color:rgb(184,145,90);
     padding: 24px;
     box-shadow: 12px 24px 24px rgb(187, 145, 90);
     font-size: 20px;
 }

 .introducao {
     display: flex;
     flex-direction: column;    
     padding: 24px;
 }

 .video {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 24px;
 }

 .graficobox {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     padding: 25px;
     font-size:20px;
 }

 .link{
     text-decoration: none;
     margin-top: 12px;
     font-size: 18px;
     color: rgb(170, 61, 61);
     font-weight: bold;
     text-align: center;
 }

  .link:hover{
    color: #dddddd;
    
 }
 
 .paragrafo2 {
     border-radius: 12px;
     margin: 20px;
     background-color: rgb(199, 160, 108);
     padding: 24px;
     box-shadow: 12px 24px 24px rgb(187, 145, 90);
     display: flex;
     flex-direction: column;
 }
 #footer{
    display: flex;
    flex-direction: row;
    align-items: center;                                                                                            
    justify-content: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
    
 }
 
  #footer a img{
    width: 60px;
    height: 60px;
    display:flex;

  }

  #footer a img:hover{
    transform: scale(1.4);
  }